.git
.gitignore
*.swp
*.swo
*.tmp
.DS_Store
.vscode/
.idea/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

**/.ipynb_checkpoints/

.venv/
.env
.env.*

build/
dist/
*.egg-info/

data/
outputs/
runs/
logs/
wandb/
mlruns/

.buildx-cache/

